
/*---------------------------------基本設定---------------------------------*/
body {
  background-color:#ffffff;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  margin: 0;
  padding: 0;
  overflow:scroll;
}

img {
  border: none;
}

#shadow {
  -moz-box-shadow: 0 0 8px #c0c0c0;
  -webkit-box-shadow: 0 0 8px #c0c0c0;
  box-shadow: 0 0 8px #c0c0c0; /* Opera 10.5+, IE */
  behavior: url(ie-css3.htc);
}

/*---------------------------------ページ全体の横幅---------------------------------*/
#wrapper {
  background-color:#ffffff;
  text-align: left;
  width: 640px;
  display: none;
}

/*---------------------------------ヘッダー---------------------------------*/
#header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 640px;
  height: 150px;
  background-color: #fff;
  z-index:2;	
}

#header-container {
  height: 170px;
  background: url(../parts/header.png) repeat-x left bottom;
}

#header {
  width: 640px;
  position: relative;
}

#header img{
  display: none;
}

#header ul img{
  display: inline;
  width: 100px;
  height: 100px;
}

#header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 25px;
  left: 0;
}

#header ul li {
  float: left;
  margin-left: 24px;
}

#menu_info {
  background-image: url(../parts/info_off.png);
  width: 45px;
  height: 45px;
}

#menu_release {
  background-image: url(../parts/release_off.png);
  width: 45px;
  height: 45px;
}

#menu_ust {
  background-image: url(../parts/ust_off.png);
  width: 45px;
  height: 45px;
}

#menu_artist {
  background-image: url(../parts/artist_off.png);
  width: 45px;
  height: 45px;
}

#menu_link {
  background-image: url(../parts/link_off.png);
  width: 45px;
  height: 45px;
}

/*---------------------------------コンテンツ---------------------------------*/
#contents {
  float: left;
  width: 640px;
  padding: 190px 0 50px 0;
}
/*---------------------------------インフォメーション---------------------------------*/
#info_left {
  display: none;
}

#info_left h1 {
  font-size: 22px;
}

#info_left hr {
  margin: 5px 0 10px 0;
}

#info_left dl {
  border-top: none;
  width: 350px;
  margin-bottom: 30px;
}

#info_left dt,dd {
  color: #a0a0a0;
  font-size: 12px;
  margin: 0px 0px 0.5em 3px;
  padding: 0px 0px 0px 0px;
  line-height: 2em;
}

#info_left dt {
  clear: left;
  float: left;
  width: 80px;

}

#info_left dd {
  margin-left: 80px;
}

#info_twitter {
  width: 350px;
  float: left;
  z-index: 0;
}

#info_facebook {
  width: 350px;
  float: left;
  margin-top: 20px;
  z-index: 0;
}

#info_right {
  width: 640px;
}

#info_concept {
  width: 600px;
  margin-left: 20px;
}

#info_info {
  width: 300px;
  margin: 30px 0 20px 20px;
}

#info_info img {
  margin-bottom: 20px;
}

#cc {
  width: 350px;
  float:right;
  margin-top: 20px;
  text-align:left;
}

#cc2 {
  width: 600px;
  margin-left: 20px;
  text-align:center;
}

/*---------------------------------アーティスト一覧---------------------------------*/
#artists {
  width: 630px;
  margin: 0 5px;
  float: right;
}

#artists ul {
  list-style: none;
}

#artists li {
  float:left;
  margin: 0 5px;
}

#artists li img{
  height:200px;
  width:200px;
  -moz-box-shadow: 0 0 8px #a0a0a0;
  -webkit-box-shadow: 0 0 8px #a0a0a0;
  box-shadow: 0 0 8px #a0a0a0; /* Opera 10.5+, IE */
  behavior: url(ie-css3.htc);
}

#artists li .caption{
  height:60px;
  width:200px;
  margin-top:5px;
}

#artists li .caption p{
  font-size:20px;
  font-weight:bold;
  line-height:22px;
}

/*---------------------------------Ustream---------------------------------*/
#ust {
  margin: 0px auto;
  text-align:center;
}

/*---------------------------------リリースページ---------------------------------*/
#release_left {
  width: 640px;
  height: 600px;
}

#release_left img {
  width: 600px;
  height: 600px;
  margin-left: 20px;
}

#release_right {
  width: 640px;
}

#release_title {
  width: 600px;
  float: left;
  text-align: right;
  padding: 20px;
  border-bottom: solid #c0c0c0 1px;
}

#release_title h1 {
  font-size: 30px;
  font-weight: lighter;
}

#release_title hr {
  margin: 30px 0;
}

#release_text {
  width: 600px;
  float: left;
  text-align: left;
  padding: 20px;
  border-bottom: solid #c0c0c0 1px;
}

#release_text img {
  margin-bottom: 20px;
}

#release_text hr {
  margin: 40px 0 20px 0;
}

#release_icon {
  width: 640px;
  float: left;
  margin-bottom: 20px;
}

#social {
  margin : 20px 0 0 80px;
}

#download {
  float: right;
  margin: 20px 80px 0 0;
}

#release_player {
  width: 490px;
  float: left;
  padding: 0 20px 20px 130px;
  border-bottom: solid #c0c0c0 1px;
}

#release_player hr {
  margin: 30px 0 0 0;
}

#release_data {
  width: 600px;
  float: left;
  text-align: right;
  padding: 20px 20px 20px 0;
}

#release_data ul {
  list-style: none;  
}

#table1 {
  color: #808080;
  font-size: 12px;
  margin: 0px 0px 0.5em 0px;
  padding: 0px 0px 0px 0px;
  line-height: 1.5em;
}

#table1 tr {
  background-color:#FFFFFF;
}

/*---------------------------------リンク一覧---------------------------------*/
#links {
  width: 600px;
  text-align:right;
  margin-right: 20px;
}

#links h1 {
  font-size: 20px;
  font-weight:lighter;
  
}

#linkimage {
  display: none;
} 

#imgHover {  
  position: relative;  
  width: 600px;
  text-align:right;
  margin-left: 20px;
}

#imgHover li {
  font-size: 34px;
  font-weight: bolder;
  line-height: 2em;
}

#imgHover li a {/*リンクされた文字*/
      color:#a4a4a4;
	  text-decoration:none;}
#imgHover li a:link {/*未訪問のリンク*/
      color:#a4a4a4;
	  text-decoration:none;} 
#imgHover li a:visited {/*訪問後のリンク*/
      color:#a4a4a4;
	  text-decoration:none;}
#imgHover li a:hover {/*マウスをのせたとき*/
      color:#D2D2D2;
	  text-decoration:none;}
#imgHover li a:active {/*クリック中*/
      text-decoration:none;
}

#imgHover #imgFrame {  
  display: none;
}

#imgHover #imghoverList {  
  list-style: none;
  position: relative;
}

#imgHover ul li img {
  border: none;
}

#imgHover ul li a {
  display: inline;
}

#imgHover ul li a:hover {  
  display: none;
}

#imgHover ul li a .mainImage {  
  display: none;  
} 

#imgHover ul li a:hover .mainImage {  
  display: none;
}  


/*---------------------------------フッター---------------------------------*/
#footer-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 640px;
  z-index:2;	
}

#footer-container {
  height: 0px;
}

#footer {
  width: 640px;
  position: relative;
}


/*---------------------------------文字---------------------------------*/
h1 {
  color:#A0A0A0;
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  display: inline;
  clear: both;
}

h2 {
  color:#A0A0A0;
  font-size: 14px;
  margin: 10px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  display: inline;
  clear: both;
}

p {
  color: #a0a0a0;
  font-size: 12px;
  margin: 0px 0px 0.5em 0px;
  padding: 0px 0px 0px 0px;
  line-height: 1.5em;
}

ul {
  color: #a0a0a0;
  font-size: 12px;
  margin: 0px 0px 0.5em 0px;
  padding: 0px 0px 0px 0px;
  line-height: 1.5em;
  list-style: none;
}

a {/*リンクされた文字*/
      color:#808080;}
a:link {/*未訪問のリンク*/
      color:#808080;} 
a:visited {/*訪問後のリンク*/
      color:#808080;}
a:hover {/*マウスをのせたとき*/
	  text-decoration:none;
	  color:#b4b4b4;}
a:active {/*クリック中*/
      text-decoration:none;
}

/*---------------------------------線---------------------------------*/
hr {
  display: none;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: #c0c0c0;
  height: 1px;
  margin-top: 12px;
}

/*---------------------------------詳細---------------------------------*/
#logo {
  float:right;
  margin-top: 5px;
}
